.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 100%;
}

.box {
  display: flex;
  flex: 1 0 20%;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  background-color: var(--square-bg-color);
  border: 1px solid var(--square-border-color);
  position: relative;
}

.testLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 25%;
}
