.base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.primary {
  color: var(--font-color-dark);
  background-color: var(--primary-color);
  border: transparent;
  font-weight: 600;
}

.primary.enabled:hover {
  opacity: 0.8;
}

.outlined {
  background-color: var(--bg-secondary-color);
  color: var(--font-color-light);
  border: 1px solid var(--primary-color);
}

.outlined.enabled:hover {
  opacity: 0.8;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
